# Віртуальне середовище
.venv/
venv/
ENV/

# Python кеш та скомпільовані файли
__pycache__/
*.py[cod]
*$py.class

# Системні файли та налаштування IDE
.DS_Store
.idea/
.vscode/

# Змінні оточення та секретні дані
.env
*.log